.box {
    float: left;
    padding: 50px 0px;
}

.clearfix::after {
    clear: both;
    display: table;
}

.options {
    margin: 5px 0px 0px 0px;
    float: left;
}

.pagination {
    float: right;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}